$gradient1: #338BE5;
$gradient2: #9bc0e5;


$primary-color: #338BE5;
$primary-text-color: white;

$border-color: #c5b6b6;

$menu-text: #c5b6b6;
$menu-background-highlighter: #dfdddd;
$menu-text-highlighter: black;

$basic-info-background: #f1f1f1;

$installed: #2ce02c;
$pending: #fab027;